.home-container {
    margin: 0;
    background: url("../images/vikingland.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    height: 600px;
}

.background-color {
    background-color: rgba(44, 44, 44, 0.6);
    height: 600px;
}

.data-container li.btn{
    color: #fff;
    font-weight: bolder;
    margin-right: 10px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 0px 15px;
}

.ark-logo-wrapper {
height: 80px;
width: 80px;
border-radius: 50%;
background: #000;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
font-family: 'Source Code Pro', monospace;

}

.ark-logo p{
    font-size: 21px;
    font-style: italic;
    height: 100%;
    line-height: 1.25;
    padding: 0;
}

nav {
    margin-bottom: 50px;
    margin-right:10px;
    padding: 0px;
    margin-top:auto;
    margin-bottom:auto
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px
}

nav ul li {
    text-align: center;
    padding: 0px 10px;
}
nav ul li:hover {  
    color: blue;  
}

p.title{
    margin-top: 10px;;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
    font-size: 2em;
}

.carousel {
    margin-top: 100px;
    height: 120px;
}

.carousel-item p{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
}

.about-container{
    margin-left: 30px;
    margin-right: 30px;
}

div.background {
    margin-bottom: 10px;
}
p.p-tag{
    margin-bottom: 0px;
}

.about-container, .goal {
    margin-top: 55px;
}
ul { list-style: none; } /* Remove default bullets */

li.goal-list::before {
    content: "\2713"; /* Unicode bullet symbol */
    color: blue;  /* Bullet color */
	
	/* Optional tweaks */
    font-weight: bolder;
    padding-right: 10px;
}

.fewd-container-title{
    text-align: center;
    font-size: 2rem;
    color: #2121aa;
}
.fewd {
    display: flex;
    justify-content: space-around;
    flex-direction: column
}
.fewd-row1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    
}

.fewd-row2 {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    
}

.fewd-row-content {
    border: 1px solid #2121aa;
    border-radius: 10px;
    text-align: center;
   
}

.fewd-content {
    width: 200px;
    padding: 5px 5px 0px 5px;
}

.fewd-container {
    background: rgb(234,247,246);
    background: linear-gradient(180deg, rgba(234,247,246,1) 0%, rgba(179,240,235,1) 52%, rgba(146,195,188,1) 100%);
margin: 0px;    
}
.fewd-row-content:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
 
    background: rgb(226,246,244);
    background: linear-gradient(303deg, rgba(226,246,244,1) 0%, rgba(234,247,246,1) 28%, rgba(254,254,254,1) 100%);
 }

