<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}
        <title>The Arc Learning Center</title>
        {% endblock %}

        {% load static %}
        <link href="assets/css/all.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/main.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/styles.css" rel="stylesheet" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap" rel="stylesheet">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <script defer src="/your-path-to-fontawesome/js/all.js"></script>
       
    </head>
    <body>
        <div class= "home-container">
            <div class= "background-color">
            <div class ="nav-container">
                <div class="ark-logo-wrapper">
                    <p>The</p>
                    <p>Ark</p>
                </div>
            <nav>
                <ul class ="data-container">
                    <li class="btn">About </li> 
                    <li class="btn">Objectives</li> 
                    <li class="btn">Contact</li> 
                </ul>
            </nav>
        </div>
            <div class="home-container-title">
                <p class="title p-tag">WELCOME</p>
                <p class="title p-tag">to </p>
                <p class="title p-tag">TheArk</p>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                      <p>Learn New Skills</p>
                    </div>
                    <div class="carousel-item">
                        <p>Rewarding</p>
                    </div>
                    <div class="carousel-item">
                        <p>Exercise Creativity</p>
                    </div>
                    <div class="carousel-item">
                        <p>Challenge Yourself</p>
                    </div>
                    <div class="carousel-item">
                        <p>Gain Confidence</p>
                    </div>
                  </div>
                  
            </div>
        </div>
        </div>

        <div class= "about-container">
               <h1 id="about">About</h1>
            <p></p>
            <div class="background">
            <h4>Background</h4>
            <p class="p-tag">I am dyslexic so learning does not come natural to me, but that did not hinder me from trying to learn new things.  It takes a while to learn new things.  What takes folks an hour to grasp and understand it takes me at least 2 days.  I do believe God made me this way and did not make a mistake.  This journey I am in
                helps me understand folks who struggle learning new topics.</p>

        </div>
        <h4>Core Beliefs</h4>
        <div class="projects">
            <p> I am a firm believer in God and His saving work on the cross for all mankinds sins. I believe Bachelors in Geography and Masters in Geographical Information Systems.
                While going for my Masters, I was introduced to Web Development.  Since then, I have been working on improving that skill.  I have created a variety of web pages for others and created many on my own. I have grown a desire for web development and would enjoy to see others 
                    gain a new skill. Would like to turn this desire for good use. 
            </p>
        </div>

            <h4>Why?</h4>
            <div class="projects">
                <p>I believe there are many individuals hurting, searching in the wrong places, feeling stuck or empty in life. I believe many folks tend to fill that void with
                    what they see here in earth.  In Matthew 6 it mentions where your treasure is there your heart will be also. If your treasure is what you see, feel, taste, touch.  
                    Then your heart will reflect that.  Whatever happens to what you treasure is what will happen to your heart.  If your treasure is God, who never changes and loves man to the point
                    of death on the cross, then you will be safe.  HOWEVER if it is anything else, worry, anxiety, fear will overcome your heart.   
                </p>
            </div>
            <div class="goal">
            <h1>Objectives</h1>
            
                <p>Teach basic Front End Web Developing in an environment that </p>
                    <ul>
                        <li class="goal-list">Breaks Down New Content</li>
                        <li class="goal-list">Encourages Growth</li>
                        <li class="goal-list">Team Bonding</li>
                        <li class="goal-list">Supportive of Struggles</li>   
                    </ul>
              
            </div>
        </div>
        
            <div class="fewd-container">
            <p class="fewd-container-title">Learn the following Front End Web Development Languages and Technoglogies</p>
                <div class="fewd">
                    <div class="fewd-row1">
                        <div class="fewd-row-content">
                            <div class="svg-bg html"></div>
                        <div class="fewd-content">
                            <h3 class="content-title">HTML</h3>
                            <p class="content">HTML (HyperText Markup Language) basic building block of the Web. Defines the meaning and structure of web content</p>
                        </div>
                        </div>
                        <div class="fewd-row-content">
                            <div class="svg-bg css"></div>
                            <div class="fewd-content">
                                <h3 class="content-title">CSS</h3>
                                <p class="content">Cascading Style Sheets (CSS) is a simple mechanism for adding style (e.g., fonts, colors, spacing) to Web documents</p>
                            </div>
                        </div>
                            <div class="fewd-row-content">
                                
                                <div class="svg-bg js"></div>

                                <div class="fewd-content">
                                    <h3 class="content-title">JavaScript</h3>
                                    <p class="content"> JavaScript (JS) is a lightweight, interpreted, or just-in-time compiled programming language</p>
                                </div>
                            </div>
                    </div>
                <div class="fewd-row2">
                    <div class="fewd-row-content">
                        <div class="svg-bg git"></div>
                        <div class="fewd-content">
                            <h3 class="content-title">Git</h3>
                            <p class="content">Git is a DevOps tool used for source code management</p>
                        </div>
                    </div>
                    <div class="fewd-row-content">
                        <div class="svg-bg ghub"></div>
                        <div class="fewd-content">
                            <h3 class="content-title">GitHub</h3>
                            <p class="content">A repository that helps developers store, manage, track and control changes to their code</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
        <script src="assets/js/main.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>